/* Container #1 */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container1 {
    display: flex;
}

.header {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
  }

.right-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 22px;
}

a {
    text-decoration: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.container1-child {
    display: flex;
    height: 25vh;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 120px 150px;
    align-items: center;
    gap: 150px;
}

.con1-content1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.con1-content2 {
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    flex: 1;
    font-size: 18px;
}


button {
    background-color: #3882F6;
    font-size: 16px;
    box-sizing: border-box;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 700;
    border: 0;
    padding: 8px 26px;
    width: 120px;
    cursor: pointer;
}


/* Container #2 */

.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.container2 {
    background-color: white;
}

.container2-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.square {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.text {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 22px;
    color: gray;
    text-align: center;
}


/* Container #3 */

.container3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px 350px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-weight: 700;
    font-size: 24px;
    text-align: right;
}


/* Container #4 */

.container4 {
    padding: 120px 300px;
    flex: wrap;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.action-text-1,
.action-text-2 {
    color: white;
}

.action-text-1 {
    font-weight: 700;
    font-size: 26px;
}

.action-text-2 {
    font-size: 18px;
}

.button2 {
    border: 2px solid white;
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    padding: 48px 0;
}